@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
.burger{
    visibility: hidden;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1440px;  */
    height: 100px;
    margin: 0 auto;
    margin-left: 180px;
    margin-right: 180px;
}
.firstnavber{
    display: flex;
}
.blink {
    animation: blinker 4.5s linear infinite;
    color: orange;
    font-size: 2.5rem;
    font-weight: bold;
    
    
    
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.first-button{
    width: 197px;
    padding: 10px 60px;
    background-color: orange;
    border-radius: 12px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
}
.first-button:hover{
    background-color: #01ACFD;
    color: white;
}

.linksection{
    gap: 32px;
    display: flex;
}
.home{
    color: rgb(254, 163, 1);
    padding: 10px 15px;
    border-radius: 8px;
    
}
.about{
    color:rgb(1, 172, 253);
    padding: 10px 15px;
    border-radius: 8px;

}
.Facilities{
    color: rgb(5, 212, 223);
    padding: 10px 15px;
    border-radius: 8px;
}
.Admission{
    color: rgb(93, 88, 239);
    padding: 10px 15px;
    border-radius: 8px;
}
.home:hover{
    color: white;
    background-color:rgb(254, 163, 1) ;
    
}
.about:hover{
    color:white;
    background-color:rgb(1, 172, 253) ;

}
.Facilities:hover{
    color: white;
    background-color:rgb(5, 212, 223) ;
}
.Admission:hover{
    color: white;
    background-color: rgb(93, 88, 239) ;
}
nav div a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    
}
/* second section  */
.herokid-section{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
    

}
.our-stories{
    font-size: 25px;
    margin-bottom: 80px;
}
.paragraph-section{
    width: 600px;
    height: 300px;
    align-items:center;
    align-content: center;
    
}
.paragraph{
    text-align: left;
    justify-content: center;
}
.header-section{
    font-size: 56px;

}
.paragraph{
    color:rgb(17, 17, 17);
    font-size: 20px;
}
.font-color{
    color: orange;
}
.font-color-two{
    color: skyblue;
}
.second-button{
    background-color: black;
    padding: 10px 47px;
    color: white;
    border-radius: 12px;
    border: none;
    font: weight 700px; 
    font-size: 20px;
    cursor: pointer;

}
.second-button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
/* third section  */
.background-img{
    background-image: url('../assets/bg.png');
}


.tinbuj{
 
    text-align: center;
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    justify-content:center;
    align-items: center;

    gap: 50px;
    margin-top: 80px;

}
.second-h1{
  
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
      
}
.fast-cart{
    width: 367.8px;
    height: 476.78px;
    justify-content: center;
    padding-top: 90px ;
    border: 1px solid #DEF5FF;
    border-radius: 18px;
    background: linear-gradient(#DEF5FF,white);
   
}
.second-cart{
    width: 367.8px;
    height: 476.78px;
    justify-content: center;
    padding-top: 90px ;
    border: 1px solid #FFF4DC;
    border-radius: 18px;
    background:linear-gradient(#FFF4DC,white)

}
.third-cart{
    width: 367.8px;
    height: 476.78px;
    justify-content: center;
    padding-top: 90px ;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
/* box-shadow: inset 0px 0px 9px 7.94px #F2E8FF; */


background: linear-gradient( #F2E8FF,white);

}
a {
    text-decoration: none;
}
.readblue{
    font-size: 16px;
    font-weight: bold;
}
.readyellow{
    font-size: 16px;
    font-weight: bold;
}
.read-more-violet{
    font-size: 16px;
    font-weight: bold;
}
.arrow{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-align: center;
    place-items: center;
    margin-top: 97px;
    gap: 10px;
    justify-items: center;
    
}
.arrow2 :hover{
    background-color: bisque;
    color: black;

}

.arrow1{
    width: 60px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-align: center;
    place-items: center;
    background-color: orange;
    border-radius: 100%;
    cursor: pointer;
    justify-items: center;
    color: white;
    font-size: 45px;
    font-weight: bold;
}
.arrow2{
    width: 60px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-align: center;
    place-items: center;
    background-color: orange;
    border-radius: 100%;
    cursor: pointer;
    justify-items: center;
    color: white;
    font-size: 45px;
    font-weight: bold;

}
.arrow1:hover{
    background: skyblue;
}
.arrow2:hover{
    background: skyblue;
}

/* thrid section  */
.bg{
    width: 100%;
    text-align: center;
    background: url(/assets/bg.png), linear-gradient(white, rgba(254, 163, 1, 0.3))
}
.conteiner-stories{
    display: flex;
   
    
    gap: 15px;
    justify-content: center;
}
.small-container{
    display: grid;
    grid-template-columns:290px 290px;
    gap: 15px;
}
.Stories0,.Stories1,.Stories2,.Stories3,.Stories4{
    box-shadow: inset 0px 0px 2px 1px rgb(149, 146, 146);
    border-radius: 14px;
    background-color: white;
    text-align: center;
}
.Stories0{
    width:540px ;
}






.spantag{
    background-color: black;
    color: white;
    border-radius: 14px;
    padding:10px 25px;
    transform: translateY(-20px) translateX(-145px);
    border: none;
    font-weight: bold;
    
}
.spantag1{
    background-color: rgb(255, 210, 125);
    color: white;
    border-radius: 14px;
    padding:10px 25px;
    transform: translateY(-20px) translateX(-60px);
    border: none;
    font-weight: bold;
    
}
.spantag2{
    background-color: lightcoral;
    color: white;
    border-radius: 14px;
    padding:10px 25px;
    transform: translateY(-20px) translateX(-60px);
    border: none;
    font-weight: bold;
    
}
.spantag3{
    background-color: rosybrown;
    color: white;
    border-radius: 14px;
    padding:10px 25px;
    transform: translateY(-20px) translateX(-60px);
    border: none;
    font-weight: bold;
    
}
.spantag4{
    background-color: skyblue;
    color: white;
    border-radius: 14px;
    padding:10px 25px;
    transform: translateY(-20px) translateX(-60px);
    border: none;
    font-weight: bold;
    
}

 img{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.text-color{
    color: #666666;
}
.last-button{
    background-color: black;
    padding: 10px 47px;
    color: white;
    border-radius: 12px;
    border: none;
    font: weight 700px; 
    font-size: 20px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;

}
.last-button:hover{
    background-color: white;
    color: black;
    border: 0.5px solid rgb(174, 152, 23);
    overflow: hidden;
    
}


/* end section  */
.footer-section{
    background-color: #e86798;
    
    
}
.left-part{
    justify-content: center;
    color: white;
    display: 0;
    text-align: left bottom;
   margin-left: 100px;
}
.whole-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    justify-content: center;
    max-width: 100%;
    margin-left: 160px;
    margin:0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.middle-part{
    color: white;
    gap: 25px;
    justify-content: center;
    margin-left: 250px;

}
.middle-part div a{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.middle-part div a:hover{
    color: black;
}
.right-part{
    margin-left: 200px;
    color: white;
    
    align-items: center;
    justify-content: center;
}




@media screen and (max-width:576px) {
    .burger{
        visibility: visible;
        font-size: 40px;
    }
    .School{
        visibility: hidden;
    }
    .firstnavber{
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        gap: 100px;
    }
    .navber, .herokid-section{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin: 16 auto;
    }
    .navber{
        
        border-bottom: 1px solid orange;
        margin: 0px;
    }
    .herokid-image{
        margin: 0 auto;
        width: 400px;
        
    }
    
    .herokid-section{
        flex-direction: column-reverse;
        padding: 16px;
    }
    .header-section{
        width: 400px;
        margin: 0 auto;
    }
    .first-button{
        visibility: hidden;
    }
    .linksection{
        visibility: hidden;
    }
    body{
        margin: 0;
    }
    .arrow{
        display: none;
    }
    
    .tinbuj{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .paragraph-section{
        width: 400px;
    }
    .standerd{
        margin-top: 100px;
    }
    .paragraph{
        width: 400px;
    }
    .big-stories{
        visibility: hidden;
    }
    
    
    
    .Stories0{
       display: none
    }
    .small-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 15px;
        justify-content: center;
        margin: 0px;
    }
    .small-container{
        display: grid;
        grid-template-columns:200px 200px;
        gap: 15px;
    }
    .storypic{
        width: 200px;
    }
    .whole-footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-evenly;
        margin: 0 auto;
        margin-left: 20px;
        
    }
    .right-part{
        margin-left: 0px;
        color: white;
        
        align-items: center;
        justify-content: center;
    }
    .middle-part{
        color: white;
        gap: 25px;
        justify-content: center;
        margin-left: 0px;
    
    }
    .left-part{
        justify-content: center;
        color: white;
        display: 0;
        text-align: left bottom;
       margin-left: 0px;
    }
    .spantag1,.spantag2,.spantag3,.spantag4{
       
        transform: translateY(-20px) translateX(-40px);
       
        
    }
    
        
   
   
    

  
    
    
    
    
    
    
}